{% extends "index.html" %}

{% block title %}Server error{% endblock %} 

{% block pageheading %}Server error{% endblock %}

{% block content %}
<p>There was an error in the server while processing your request. Sorry about that.</p>
<p>We're working on it! Please try again later.</p>
{% endblock %}
