{% extends "index.html" %}

{% block title %}About the Project Health Monitor{% endblock %}

{% block pageheading %}About the Project Health Monitor{% endblock %}

{% block content %}
    <div class="about-text">
        <p>Use the Health Monitor to check on your project and team health at any time throughout your project.
            The Health Monitor is all about helping you know what success looks like, how to get there, and how to get
            back on track if you need to. How you and your team do your health check is up to you.</p>
        <p>Each health check measures your project's health in the following <b>8 areas:</b></p>
    </div>

    <table class="about-table">
        {%  for a1, a2 in attribute_pairs %}
            <tr>
                <td>
                  <h4>{{ a1.1 }}</h4>
                  <p>{{ a1.2 }}</p>
                </td>
                <td>
                  <h4>{{ a2.1 }}</h4>
                  <p>{{ a2.2 }}</p>
                </td>
            </tr>
        {%  endfor %}
        <tr>
            <td colspan="2">
                <h4 class="center">{{ overview.1 }}</h4>
                <p class="center">{{ overview.2 }}</p>
            </td>
        </tr>
    </table>

    {% block pageJS %}
        <script src="/static/js/about.js"></script>
    {%  endblock %}

{% endblock %}
