{% extends "index.html" %}

{% block title %}Authenticate{% endblock %}

{% block pageheading %}Signup or Login{% endblock %}

{% block content %}
<div align="center">
  <p></p>
  {% if user.is_authenticated %}
    <p>Hello, {{ user.email }}! You are currently logged in. Click the button at the top right to logout.</p>
  {% else %}
    {% if error %}
    <div class="aui-message aui-message-error">
      <p class="title">
        <strong>Error</strong>
      </p>
      <p>{{ error }}</p>
    </div>
    {% endif %}

    <p>Authenticate with Google to add and track your projects.</p>
    <p>
      <a class="aui-button aui-button-primary home-button" href="{{ auth_endpoint }}response_type=token&client_id={{ client_id }}&redirect_uri={{ redirect_uri }}&scope={{ scope }}">Authenticate</a>
    </p>
  {% endif %}
</div>
{% endblock %}
