{% extends "index.html" %}

{% block title %}{{checkin.project_id.name}}{% endblock %} 

{% block pageheading %}{{project.name}} - Health Overview {% endblock %}

{% block content %}

<table class="aui">
    <thead>
        <tr>
            <th id="ci_attr">Area</th>
            {% for checkin in checkins.keys %}
                <th id="ci_header-{{checkin.id}}">{{checkin.date}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for attr, attr_long, attr_desc in attributes %}
        <tr>
            <td headers="ci_attr">{{attr_long}}</td> 

            {% for checkin, ci_attrs in checkins.items %}
                {% if ci_attrs.items|length != 0 %}
                {% if attr not in ci_attrs.items %}
                    <td headers="ci_header-{{checkin.id}}">
                        <div class="block grey"></div>
                    </td>
                {% endif %}

                {% for a,e in ci_attrs.items %}
                {% if a == attr %}
                    <td headers="ci_header-{{checkin.id}}">
                        <div class="block {{e.get_colour_display}}"></div>
                    </td>
                {% endif %}
                {% endfor %}
                {% endif %}

            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
