{% extends "index.html" %}

{% block title %}Create a health check{% endblock %}

{% block pageheading %}
    {{ title }}
    {% if view_only %}
          <div class="aui-toolbar2 float-right" role="toolbar">
              <div class="aui-toolbar2-inner">
                  <div class="aui-item aui-buttons">
                      <input class="aui-button" type="reset" value="Edit" id="checkin-edit-button" />
                      {%  if  checkIn_id %}
                          <a class="aui-button" href="/phm/project?name={{ checkIn_id.project_id.name }}">Back to project</a>
                      {%  endif %}
                  </div>
              </div>
          </div>
    {% endif %}
{% endblock %}

{% block content %}

<div class="checkin-container" value="{{checkIn_id}}">
    <h2> Health check details</h2>
    <form action="#" method="post" id="addcheckinAttribute" class="aui">
        {% csrf_token %}
        <input id="checkinId" type="hidden" value="{{ checkIn_id }}">
        <fieldset class="form-medium checkin-form-main-content"> {# to make it aligned with the checkin entry boxes #}
            {% for field in checkin_form %}
              <div class="field-group">
                  <label for="{{ field.id_for_label }}">{{field.label_tag}}
                  {% if field.id_for_label == 'id_project_id' or field.id_for_label == 'id_stage' %}
                    <span class="aui-icon icon-required"></span>
                  {% endif %}
                  </label>
                  {{ field }}
                  {% for error in field.errors %}
                  <div class="error">
                    {{ error }}
                  </div>
                  {% endfor %}
              </div>
            {% endfor %}
        </fieldset>

        <h2> Project health</h2>
        <p><a href="/phm/about">Learn about the areas</a></p>

        {{ formset.management_form }}
        <div class="checkin-group">
            {% for form, attribute in content %}
                <div class="checkin-item {{ form.attribute.value.0 }}">
                    {{ form.checkIn_id }}
                    {{ form.attribute }}
                    <div class="checkin-item-header">
                        <h4 class="checkin-attr-header">{{attribute.1}} </h4>
                        <div class="checkin-options-group">
                            {%  if form.errors.colour.0 %}
                                <span class="errortext">Please select health</span>
                            {%  endif %}
                            <div class="checkin-options">
                                <p>Health</p>
                                <div class="health-buttons {{attribute.0}}-health-buttons">
                                    {{ form.colour }}
                                </div>
                            </div>
                        </div>
                        <fieldset>
                            <div class="checkin-item-body">
                                {{ form.comment }}
                            </div>
                        </fieldset>
                    </div>
                </div>
            {% endfor %}
        <div class="buttons-container {%  if view_only %}hidden{% endif %}">
          <input class="aui-button checkin-button aui-button-primary float-right" style="
              margin-left: 10px;
              " type="submit" value="{{ submit_text }}" id="checkin-submit-button" />
            <input class="aui-button checkin-button float-right" type="reset" value="Clear" id="checkin-clear-button" />
        </div>
    </form>
</div>
{% block pageJS %}
<script src="/static/js/checkin.js"></script>
{%  endblock %}
{% endblock %}
