<footer id="footer" role="contentinfo">
    <section class="footer-body">
        <ul id="aui-footer-list">
            <li>Made with ❤ in Sydney, Australia</li>
            <li><a href="https://bitbucket.org/tianyupu/health-monitor/issues/new">Report a bug</a></li>
        </ul>
        <div id="footer-logo"><a href="http://www.atlassian.com">Atlassian</a></div>
    </section>
</footer>
