<header id="header" role="banner">
  <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
    <div class="aui-header-primary">
      <h1 id="logo" class="aui-header-logo">
        <a href="/"><img src="/static/images/logo-projecthealthmonitor.png"/></a>
      </h1>
      <ul class="aui-nav">
        <!-- Projects tab -->
        <li>
          <a id="projects-tab" href="#" aria-haspopup="true" class="aui-dropdown2-trigger aui-alignment-target aui-alignment-abutted aui-alignment-abutted-left aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom aui-alignment-target-attached-left aui-alignment-out-of-bounds aui-alignment-out-of-bounds-bottom" aria-controls="dropdown2-jira3" aria-expanded="false" resolved="">Projects</a>
          <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header aui-layer aui-alignment-element aui-alignment-side-bottom aui-alignment-snap-left aui-alignment-abutted aui-alignment-abutted-left aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom aui-alignment-target-attached-left aui-alignment-side-bottom aui-alignment-snap-left aui-alignment-out-of-bounds aui-alignment-out-of-bounds-bottom" id="dropdown2-jira3" aria-hidden="true" resolved="" data-aui-alignment="bottom auto" data-aui-alignment-static="true" style="z-index: 3000; top: 0px; left: 0px; position: absolute; transform: translateX(407px) translateY(725px) translateZ(0px);">
            <div class="aui-dropdown2-section">
              <ul>
                <li><a href="/phm/addproject">Add Project</a></li>
                <li><a href="/phm/viewproject">View Projects</a></li>
              </ul>
            </div>
            {% if user.is_authenticated %}
              <div class="aui-dropdown2-section" id="favourite-projects-container"> <!-- favourite projects retrieved via AJAX -->
              </div>
            {% endif %}
          </div>
        </li>
        <li><a href="/phm/about">About</a></li>
        <li><a class="aui-button aui-button-primary" href="/phm/addcheckin">Create health check</a></li>
      </ul>
    </div>
    <div class="aui-header-secondary">
      <ul class="aui-nav __skate" resolved>
        {% if user.is_authenticated %}
        <li>
          <a class="aui-dropdown2-trigger" aria-haspopup="true" aria-owns="user-options-content" aria-controls="user-options-content">
            <span class="aui-avatar aui-avatar-small">
              <img id="active-user-avatar" src="/static/images/default-avatar.png">
            </span>
          </a>
          <div id="user-options-content" class="aui-dropdown2 aui-style-default">
            <ul class="aui-list-truncate">
              <li><a href="/phm/logout">Log out {{ user.email }}</a></li>
            </ul>
          </div>
        </li>
        {% else %}
        <li><a class="aui-nav-link" href="/phm/auth">Signup or Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  </nav>
</header>
<span id="username" value="{{ user.username }}"></span>
<script src="/static/js/header.js"></script>
