<!doctype html>
    <head>
        <title>{% block title %}Home{% endblock %} - Health Monitor App</title>
        <link rel="shortcut icon" href="/static/images/favicon.ico" />

        <!-- Required for some dependencies -->
        <script src="/static/js/lib/almond.js"></script>

        <!-- Core AUI CSS and JS -->
        <link rel="stylesheet" href="/static/css/styles.css" media="screen">
        <link rel="stylesheet" href="/static/css/index.css" media="screen">
        <link rel="stylesheet" href="/static/css/view-project.css" media="screen">
        <link rel="stylesheet" href="/static/css/filters.css" media="screen">
        <link rel="stylesheet" href="/static/css/checkin.css" media="screen">
        <link rel="stylesheet" href="/static/css/health-buttons.css" media="screen">
        <link rel="stylesheet" href="/static/css/about-page.css" media="screen">
        <link rel="stylesheet" href="/static/css/project-form.css" media="screen">
        <link rel="stylesheet" href="/static/css/lib/aui.min.css" media="all">
        <script src="/static/js/lib/jquery.min.js"></script>
        <script src="/static/js/lib/aui.min.js"></script>

        <!--AMD Loader, required for experimental components-->
        <link rel="stylesheet" href="/static/css/lib/aui-experimental.min.css" media="all">
        <script src="/static/js/lib/aui-experimental.min.js"></script>

        <!-- Extra AUI date-picker component -->
        <script src="/static/js/lib/aui-datepicker.min.js"></script>

        <!-- IE10 polyfill for the placeholder attribute in input tags -->
        <script src="/static/js/lib/placeholders.min.js"></script>

        <!-- Our own js that will be used a lot -->
        <!-- Js to import before the other stuff_-->
        {% block beforeJS %}{% endblock %}
        <script src="/static/js/scripts.js"></script>
        <script src="/static/js/filters.js"></script>
        <!-- Js to import before the other stuff_-->
        {% block afterJS %}{% endblock %}
    </head>

    <body class="aui-page-hybrid">
        {% include 'header.html' %}
        <section class="content" role="main">
            <div class="aui-page-panel">
            {% block sidebar %}{% endblock %}
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">
                        <h1 align="center" style="color:#205081">
                            {% block pageheading %}
                                <img src="/static/images/logo.svg" style="vertical-align: middle; margin-bottom:5px">Project Health Monitor
                            {% endblock %}
                        </h1>

                        {% block content %}
                            <div align="center">
                                <img class="hero-image" width=350px src="/static/images/personas-illustration.png">
                                <br>
                                <div>
                                    <p><a class="aui-button home-button" href="/phm/allprojects?view=mine">My projects</a></p>
                                    <p><a class="aui-button home-button" href="/phm/allprojects?view=all">All projects</a></p>
                                    <p><a class="aui-button aui-button-primary home-button" href="/phm/addproject">Create a project</a>
                                    <p></p>
                                </div>
                                <div class="divider small-divider"></div>
                                <div class="favourite-projects">
                                    <h2 align="center" style="color:#3572b0">Favourite projects</h2>
                                    {% if favourites|length == 0 %}
                                        <p class="no-content">You do not have any favourite projects. To make a project a favourite, click on the star in the view project page.</p>
                                    {% endif %}
                                    <div class="home-page-project-list">
                                        {% for fav in favourites %}
                                            <div class="{{ favourites_class }}"><a class="aui-button project-button" href="/phm/project?name={{ fav.name }}">{{ fav.name }}</a></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {%  block pageJS %}{% endblock %}
                        {% endblock %}
                    </section>
                </div>
            </div>
        </section>
        {% include 'footer.html' %}
    </body>
</html>
