{% extends "index.html" %}

{% block title %}Browse projects{% endblock %}

{% block pageheading %}Browse projects{% endblock %}

{% block content %}
<p class="center">
  Here are all of the projects currently registered on this site. Can't find what you're looking for? <a href="/phm/addproject">Add your project!</a>
</p>
<p class="center">
  Find your project using the filters on the left, or type in a project name in the box on the right to go directly to a project.
</p>
<div class="hidden project-view">{{ view_type }}</div>
<div class="filter-container aui-group aui-group-split">
  <div class="aui-item">
    <p class="filter-label">Filters:</p>
    <ul class="filter-status">
      <li id="show-all" selected>
        <a href="#">All</a>
      </li>
      <li id="show-favourites">
        <a href="#">My favourites</a>
      </li>
      <li id="show-myprojects">
        <a href="#">Projects I'm in</a>
      </li>
    </ul>
  </div> <!-- .aui-item -->

  <div class="aui-item">
    <form class="filter-search aui" action="/phm/project" id="project-select-container">
      {% for field in form %}
        {{ field }}
      {% endfor %}
    </form> 
  </div> <!-- .aui-item -->
</div> <!-- .filter-container -->

<table class="aui">
  <thead>
      <tr>
          <th id="name">Name</th>
          <th id="owner">Owner</th>
          <th id="owner">Sponsor</th>
          <th id="department">Department</th>
          <th id="description">Description</th>
      </tr>
  </thead>
  <tbody>
      {% for project in projects %}
      <tr class="project {% if project in favourites %}favourite{% endif %} {% if project in userprojects %}myproject{% endif %}">
        <td headers="name"><a href="/phm/project?name={{ project.name }}">{{ project.name }}</a></td>
        <td headers="owner">{{ project.owner }}</td>
        <td headers="sponsor">{{ project.sponsor }}</td>
        <td headers="department">{{ project.department }}</td>
        <td headers="description">
        {% if project.description %}
          {{ project.description }}
        {% else %}
          <p class="no-content">No description provided.</p>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<p id="no-projects-message" class="no-content">No projects found with that filter. Try another one?</p>

{% block pageJS %}
<script src="/static/js/list-all-projects.js"></script>
{% endblock %}

{% endblock %}
