<strong>Favourite Projects</strong>
<ul>
{% if favourites %}
  {% for favourite in favourites %}
    <li><a href="/phm/project?name={{ favourite.name }}">{{ favourite.name }}</a></li>
  {% endfor %}
{% else %}
  <li><a class="no-content">You don't have any favourite projects.</a></li>
{% endif %}
</ul>
