{% extends "index.html" %}

{% block title %}Project{% endblock %}

{% block pageheading %}
  <div class="heading">{{ title }}</div>
{% endblock %}

{% block content %}
    <form action="#" method="post" id="projectform" class="aui">
        {% csrf_token %}
        <fieldset class="project-form-fieldset">
            <div class="project-form-fields field-group project-name">
                <label>{{form.name.label}}<span class="aui-icon icon-required"></span></label>
                {{ form.name }}
                <div class="error">
                    {{ form.name.errors}}
                </div>
            </div>
            <div class="project-form-fields field-group project-name">
                <label>{{form.link.label}}<span class="aui-icon icon-required"></span></label>
                {{ form.link }}
                <div class="error">
                    {{ form.link.errors}}
                </div>
            </div>
            <div class="project-form-fields field-group project-department">
                <label>{{form.department.label}}<span class="aui-icon icon-required"></span></label>
                {{ form.department }}
                <div class="error">
                    {{ form.department.errors }}
                </div>
            </div>
            <div class="project-form-fields field-group project-description">
                <label>{{form.description.label}}</label>
                {{ form.description }}
                <div class="error">
                    {{ form.description.errors }}
                </div>
            </div>
            <div class="project-owner-sponsor-group">
                <div class="owner-sponsor-input">
                    <div class="project-form-fields field-group project-owner">
                        <label>{{form.ownerInput.label}}<span class="aui-icon icon-required"></span></label>
                        {{ form.ownerInput }}
                        <div class="error">
                            {{ form.ownerInput.errors }}
                        </div>
                    </div>
                    <div class="project-form-fields field-group project-sponsor">
                        <label>{{form.sponsorInput.label}}<span class="aui-icon icon-required"></span></label>
                        {{ form.sponsorInput }}
                        <div class="error">
                            {{ form.sponsorInput.errors }}
                        </div>
                    </div>
                </div>
                <div class="owner-sponsor-avatars">
                    <ul class="squares no-wrap" id="ownerInput_id" name="ownerInput"></ul>
                    <select multiple="multiple" id="ownerSelect_id" name="ownerInput" hidden="true"></select>
                    <ul class="squares no-wrap" id="sponsorInput_id" name="sponsorInput"></ul>
                    <select multiple="multiple" id="sponsorSelect_id" name="sponsorInput" hidden="true"></select>
                </div>
            </div>

            <div class="project-member-group">
                <div class="member-input">
                    <div class="project-form-fields field-group project-members">
                        <label>{{form.memberInput.label}}</label>
                        {{ form.memberInput }}
                        <div class="error">
                            {{ form.memberInput.errors }}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="member-avatars">
                    <ul class="squares no-wrap" id="memberList" name="members"></ul>
                    <select multiple="multiple" id="id_members" name="members" hidden="true"></select>
                </div>
            </div>

            {% for member in members %}
                <span class="hidden project-member">{{ member }}</span>
            {% endfor %}

            <div class="buttons-container" align="right">
                <input class="aui-button aui-button-primary confirm" style="text-align:center" type="submit" value={{ buttonText }} id="save_btn" />
            </div>
        </fieldset>
    </form>
    {% block pageJS %}
    <script src="/static/js/project-form.js"></script>
    {%  endblock %}
{% endblock %}