<div class="aui-sidebar repo-sidebar">
  <div class="aui-sidebar-wrapper" style="height: 720px; width: 100px;">
    <div class="aui-sidebar-body">
      <header class="aui-page-header">
      </header>
      <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
          <div class="aui-sidebar-group aui-sidebar-group-tier-one repository-sections">
            <div class="aui-nav-heading">
              <div class="profile-picture profile-picture-small" style="float:none;margin-left:10px;
                {% if project.avatar %}
                background-image: url("{{project.avatar.path}}");
                {% endif %}
                "></div>
            </div>
          </div>
          <div class="aui-sidebar-group aui-sidebar-group-tier-one repository-settings">
            <div class="aui-nav-heading">
            </div>
            <ul class="aui-nav" style="text-align:center;">
              <li><span class="aui-icon aui-icon-large aui-iconfont-devtools-file-commented" style="color:#205081;padding-bottom:10px">Health checks</span>
              <li><span class="aui-icon aui-icon-large aui-iconfont-configure" style="color:#205081;padding-bottom:10px">Configure</span>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="aui-sidebar-footer">
      <a class="aui-sidebar-toggle aui-sidebar-footer-tipsy aui-button aui-button-subtle"><span class="aui-icon"></span></a>
    </div>
  </div>
</div>
