{% extends "index.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block pageheading %}
{% endblock %}

{% block content %}
<div class="aui-group project-heading">
    <div class="aui-item">
        <div class="profile-picture profile-picture-large"
                {% if project.avatar %}
             style="background-image: url('{{ project.avatar.path }}');"
                {% endif %}>
        </div>
    <div class="profile-info">
        <h2>{{ project.name }}<span id="favourite" class="aui-icon aui-icon-small {% if isFavourite %}aui-iconfont-star{% else %}aui-iconfont-unstar{% endif %}"></span></h2>

        <div class="health-status-text health-status-text-{{ latest_checkin_entries.O.colour }}">
            <ul><li><span>
              {% if latest_checkin_entries.O.colour == 1 %}
                  Sick
              {% elif latest_checkin_entries.O.colour == 2 %}
                  Bit sick
              {% elif latest_checkin_entries.O.colour == 3 %}
                  Healthy
              {% else %}
                  Not set
              {% endif %}
            </span></li></ul>
        </div>
        <div> Status:
            {% if latest_checkin.status %} {{ latest_checkin.status }} {% else %} No status set {% endif %}
        </div>
        <div> Website:
            {% if project.link %}<a href="{{ project.link }}">{{ project.link }}</a>{% endif %}
        </div>
    </div>
</div>
{% if userInProject %}
  <div class="aui-toolbar2 float-right" role="toolbar">
      <div class="aui-toolbar2-inner">
          <div class="aui-item aui-buttons">
              <a class="aui-button aui-button-primary" href="/phm/addcheckin?project={{ project.name }}">Create health check</a>
              <a class="aui-button" href="/phm/editproject?name={{ project.name }}">Edit</a>
          </div>
      </div>
  </div>
{% endif %}
</div>

<div class="aui-group light-grey rounded-box">
    <div class="aui-item">
        <div id="sponsor-avatar" class="profile-picture"></div>
        <div class="profile-info">
            <h3>Sponsor</h3>
            {% if project.sponsor %} {{ project.sponsor }} {% else %} This project has no sponsor {% endif %}
        </div>
    </div>
    <div class="aui-item">
        <div id="owner-avatar" class="profile-picture"></div>
        <div class="profile-info">
            <h3>Owner</h3>
            {% if project.owner %} {{ project.owner }} {% else %} This project has no owner {% endif %}
        </div>
    </div>
    <div class="aui-item" data-aui-trigger="" aria-controls="project-members">
        <div class="profile-picture"></div>
        <div class="profile-info" style="top: 25px">
            <h3>{{ members|length }} Member{% if members|length != 1 %}s{% endif %}</h3>
        </div>
    </div>
    <aui-inline-dialog2 id="project-members" alignment="bottom center" responds-to="hover" persistent="false">
      {% for member in members %}
        <p>{{ member.user_id.fullName }}</p>
      {% endfor %}
    </aui-inline-dialog2>
</div>

<div id="content">
    {% if project.description %}
      <h2>Description</h2>
        <p>
                {{ project.description }}
        </p>
    {%  endif %}
  <h2>Health check history</h2>
<!-- This is the body of code (within this django if tag and its closing endif) responsible for rendering the history of health checks for a project -->
  {% if checkins_by_attribute %}
    <p>The last health check for this project was at {{ latest_checkin.date }} <a id="scroll-to-current" href="#">Show me.</a></p>

    <!-- HTML for the buttons that let us filter the checkins by stage -->
    <div id="filter-stages" class="filter-container aui-group aui-group-split">
      <div class="aui-item">
        <p class="filter-label">Filter by stage:</p>
        <ul class="filter-status">
          <li id="stage-all">
            <a href="#">All</a>
          </li>
          <li id="stage-1">
            <a href="#">Envision it</a>
          </li>
          <li id="stage-2">
            <a href="#">Make it</a>
          </li>
          <li id="stage-3">
            <a href="#">Improve it</a>
          </li>
        </ul>
      </div> <!-- .aui-item -->
    </div> <!-- .filter-container -->

    <p id="no-checkins-message" class="no-content">No health checks for the selected stage have been recorded in this project.</p>
    <div id="attributes-container"> <!-- to make the table scroll when there are too many health checks -->
      <table class="health-summary">
        {% for attr_key, attr_name, attr_desc in attributes %}
          <tr>
          <!-- attribute column -->
          <td class="attribute-name {% if attr_key == 'O' %}overview{% endif %}" aria-controls="{{ attr_key }}-description" data-aui-trigger=""><p>{{ attr_name }}</p></td>
            <aui-inline-dialog2 id="{{ attr_key }}-description" alignment="bottom center" responds-to="hover" persistent="false">
              <h5>{{ attr_name }}</h5>
                <p>{{ attr_desc }}</p>
            </aui-inline-dialog2> <!-- description of the attribute on hover -->
          </tr>
        {% endfor %}
      </table>
      <div id="checkins-container">
      <table class="health-summary">
        <thead>
          <tr class="health-summary-heading">
            {% for stage_code, stage_name, stage_length in stage_lengths_with_current %} <!-- stage names -->
              <th colspan="{{ stage_length }}" class="{% if stage_name|cut:"Current: "|length == stage_name|length %}historical-checkin{% else %}current-checkin{% endif %} stage-{{ stage_code }}"><h3>{{ stage_name }}</h3></th>
            {% endfor %}
          </tr>
          <tr class="checkin-date-heading">
          {% for checkin in checkins %} <!-- dates for each checkin -->
            <th class="{% if checkin.id == latest_checkin.id %}current-checkin{% else %}historical-checkin{% endif %} stage-{{ checkin.stage }}" aria-controls="checkin-{{ checkin.id }}" data-aui-trigger=""><a href="addcheckin?checkinId={{ checkin.id }}&viewOnly=True">{{ checkin.date|date:"d M y"|upper }}</a></th>
            <aui-inline-dialog2 id="checkin-{{ checkin.id }}" alignment="bottom center" responds-to="hover" persistent="false"> <!-- status and comment dialog for each checkin -->
              <h5>Project status</h5>
              {% if checkin.status %}
                <p>{{ checkin.status }}</p>
              {% else %}
                <p class="no-content">No status was entered for this health check.</p>
              {% endif %}
              <h5>Comment</h5>
              {% if checkin.comment %}
                <p>{{ checkin.comment }}</p>
              {% else %}
                <p class="no-content">No comment was entered for this health check.</p>
              {% endif %}
            </aui-inline-dialog2>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for attr, checkins_for_attr in checkins_by_attribute.items %}
          {% for attr_key, attr_name, attr_desc in attributes %}
            {% if attr == attr_key %}
              <tr>
                {% for checkin in checkins_for_attr %} <!-- each of the health check colours for this attribute -->
                  <td class="{% if checkin.checkin.id == latest_checkin.id %}current-checkin{% else %}historical-checkin{% endif %} {{ checkin.marker }} stage-{{ checkin.checkin.stage }} {% if attr_key == 'O' %}overview{% endif %}">
                    <span class="
                    {% if checkin.colour == 1 %}
                      health-indicator health-indicator-red
                    {% elif checkin.colour == 2 %}
                      health-indicator health-indicator-yellow
                    {% elif checkin.colour == 3 %}
                      health-indicator health-indicator-green
                    {% else %}
                      health-indicator health-indicator-grey
                    {% endif %}" aria-controls="{{ attr_key }}-{{ checkin.colour }}-{{ checkin.checkin_id }}" data-aui-trigger=""></span>
                    <!-- dialog to show the comment for that particular checkin entry -->
                    <aui-inline-dialog2 id="{{ attr_key }}-{{ checkin.colour }}-{{ checkin.checkin_id }}" alignment="bottom center" responds-to="hover" persistent="false">
                      <h5>{{ checkin.checkin.date }}</h5>
                      {% if checkin.comment %}
                        <p>{{ checkin.comment }}</p>
                      {% elif not checkin.colour %}
                        <p class="no-content">There was no health saved for this area during this health check.</p>
                      {% else %}
                        <p class="no-content">No comment specified for this area.</p>
                      {% endif %}
                    </aui-inline-dialog2>
                  </td>
                {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
<!-- End: body of template code for rendering the history view -->
    {% else %}
        <p>You haven't created a health check yet. But that's okay.</p>
        <p><a href="/phm/about">Read about how and why to do a health check</a></p>
        <p>or</p>
        <p>To get started, click the 'Create health check' button at the top.</p>
    {% endif %}
</div>

{% block pageJS %}
<script src="/static/js/checkin-history.js"></script>
<script type="text/javascript">
  {% if project.sponsor %}
    var sponsor = "{{ project.sponsor.username }}";
  {%  else %}
    var sponsor = null;
  {%  endif %}
  {% if project.owner %}
    var owner = "{{ project.owner.username }}";
  {%  else %}
    var owner = null;
  {% endif %}
  var projectId = "{{ project.id }}";
</script>
<script src="/static/js/view-project.js"></script>
{% endblock %}
{% endblock %}
