.checkin-container {
    padding-top: 20px;
}

.checkin-group {
    width: 1000px;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
}

.checkin-item {
    border-radius: 3px;
    background-color: #F5F5F5;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    width: 440px;
}

.checkin-attr-header {
    float: left;
}

.checkin-options-group {
    float: right;
    width: 245px;
}

.checkin-options {
    float: right;
}

.checkin-options p {
    float: left;
    margin-right: 5px;
}

.checkin-item-header, .checkin-item-body {
    padding-bottom: 10px;
}

.checkin-form-main-content .textarea {
    width: 400px !important;
}

.disabled-with-border:disabled {
    color: initial !important;
    cursor: default !important;
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

.disabled-without-border:disabled {
    color: initial !important;
    cursor: default !important;
    border-width: 0 !important;
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}