div.filter-container {
  height: 30px;
  margin-top: 25px;
}

.filter-container .filter-label {
  float: left;
  margin-right: 10px;
  line-height: 30px;
  color: #707070;
  margin-left: 1px;
}

.filter-status {
  list-style: none;
  float: left;
  margin: 0;
  padding: 3px 0;
}

.filter-status > li {
  float: left;
  margin-right: 10px;
}

.filter-status > li a {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 1px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
}

.filter-status > li a:hover {
  background: #f5f5f5;
  border-color: #ccc;
}

.filter-status > li[selected] a {
  background: #ccc;
  border-color: #ccc;
  color: #333; 
}

.filter-search .select2-container.project-search-box {
  max-width: 200px;
}
