/* CSS for checkin health buttons */
.health-buttons ul {
  list-style: none;
  padding-left: 0px;
}

.health-buttons ul li {
  display: inline;
}

.health-buttons label {
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 1.42857142857143;
  margin: 0;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  opacity: 0.35;
}

.health-buttons label:hover, .health-buttons label.selected {
  opacity: 1;
}

.health-buttons label[disabled="disabled"] {
  cursor: default;
}

.health-buttons input[type="radio"] {
  display: none;
}

.health-buttons input[type="radio"] + label {
  color: #ffffff;
  font-size: 14px;
  font-variant: normal;
  font-weight: normal;
}

.health-buttons input[type="radio"]:checked + label{
  outline: none;
}

.health-buttons {
  float: right;
}

.aui-icon-small:before {
  margin-left: 2px;
}

.selected {
  color: #FFFFFF !important;
}
