.many-projects {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.double-project {
    float: left;
    margin-left: 100px;
}

.home-page-project-list {
    margin: auto;
    overflow: hidden;
}

.home-page-project-list div {
    padding-top: 20px;
}

.favourite-projects {
    width: 700px;
}

.project-button {
    width: 200px;
}