.project-form-fieldset {
    margin-left: 50px !important;
    width: 800px;
}

.project-form-fields.field-group {
    padding-bottom: 10px !important;
}

.project-description .textarea {
    width: 400px !important;
}

.project-owner {
    position: absolute !important;
    width: 400px !important;
    float: left;
}

.project-sponsor {
    width: 400px !important;
    float: right;
}

#ownerInput_id {
    float: left;
    margin-left: 160px;
    margin-top: 60px;
    padding-bottom: 20px;
    width: 130px !important;
}

#sponsorInput_id {
    float: right;
    margin-right: 75px;
    width: 130px !important;
}

.member-avatars {
    width: 500px;
    margin-left: 200px;
}

.member-avatars li {
    float: left !important;
    margin-right: 20px !important;
}

/* avatar styling */
ul.squares {
    list-style: none;
    font-size: 0px;
    margin-left: -10%;
    text-align: center;
}

ul.squares li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    border: 1px solid #cccccc;
    font-size: 10px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #cccccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 125px;
}

ul.squares li img {
    max-width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
}

ul.squares li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #707070;
}

.squares li:hover .remove-button {
    display: block;
}

.remove-button {
    float: right;
    margin-top: -8px;
    margin-right: -8px;
    display: none;
    cursor: pointer;
}