.red {
    background: #D04437;
}
.yellow {
    background: #F6C342;
}
.green {
    background: #67AB49;
}
.grey {
    background: #D3D3D3;
}
.light-grey {
    background: #F5F5F5;
}
.darkgrey {
    background: #707070;
}

.float-right {
    display: inline-block;
    float: right;
}
.float-left {
    display: inline-block;
    float: left;
}

.rounded-box {
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}

div.health-status-text-0 li {
    color: #707070;
}

div.health-status-text-1 li {
    color: #D04437;
}

div.health-status-text-2 li {
    color: #F6C342;
}

div.health-status-text-3 li {
    color: #67AB49;
}

div.health-status-text li {
    font-size:35px;
    margin:-12px;
}
div.health-status-text li span {
    font-size:14px;
    position: relative;
    top: -6px;
    left: -12px;
}

.no-wrap {
    white-space: nowrap;
}

.hidden {
    display: none;
}

.hero-image {
    padding-bottom: 20px;
}
.home-button {
    width:320px;
}
.divider {
    border-style: solid;
    border: 0px;
    border-top: 1px solid;
    border-color: #CCCCCC;
    margin-top: 30px;
    padding-top: 30px;
}

.small-divider {
    width:350px;
}

.project-heading {
    padding-bottom: 20px;
}

form.aui .textarea {
    max-width: inherit !important;
}

.button#checkin-submit-button {
    width: 200px;
}

.no-content { /* for things which we want to show greyed and italicised text */
    color: #BBBBBB;
    font-style: italic;
}

#favourite-projects-container a.no-content { /* same as above but for the favourite projects dropdown */
    color: #BBBBBB;
    font-style: italic;
}

.center {
    text-align: center;
}

span.errortext {
    color: #D04437;
    padding-left: 10px;
    font-size: 12px;
}

.error {
    font-size: 12px;
    margin-bottom: 5px;
}

textarea {
    resize: none;
}

.select[disabled] {
    appearance:none !important;
    -moz-appearance:none !important; /* Firefox */
    -webkit-appearance:none !important; /* Safari and Chrome */
}
