.profile-info {
  padding-left: 120px;
  position: relative;
  top: 15px;
}

.profile-picture {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: white;
  background-image: url("/static/images/meeple-teams.svg");
  background-size:cover;
  float: left;
}

.profile-picture-large {
  width: 100px;
  height: 100px;
}
.profile-picture-small {
  width: 50px;
  height: 50px;
}

span#favourite {
  vertical-align: middle;
  margin-left: 10px;
  color: #999999;
}

div#content {
  text-align: center;
  padding: 20px;
}

.health-indicator:hover {
  border: 2px solid #333333;
}

.health-indicator {
  background: #cccccc;
  border: 2px solid #cccccc;
  border-radius: 7px;
  color: #333333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 99%;
  margin: 0;
  width: 110px;
  height: 10px;
}

.health-indicator-red {
  background-color: #d04437;
  border-color: #d04437;
}

.health-indicator-yellow {
  background-color: #f6c342;
  border-color: #f6c342;
}

.health-indicator-green {
  background-color: #14892c;
  border-color: #14892c;
}

.health-indicator-grey {
  background: none;
  border: 2px dashed #cccccc;
}

.health-indicator-grey:hover {
  border: 2px dashed #333333;
}

table.health-summary {
  margin-top: 15px;
  border-spacing: 0px;
}

/* fix the attributes column in place and make the checkins scrollable */
#attributes-container > table {
  width: 200px;
  float: left;
  margin-top: 101px;
}

#attributes-container td.attribute-name {
  padding-top: 11px;
}

#checkins-container {
  max-width: 740px;
  overflow-x: auto;
}

#checkins-container > table {
  max-width: 740px;
}
/* end of rules to fix the attributes column in place */

.health-summary tr:nth-child(odd) {
  background: #f5f5f5;
}

.health-summary tr:nth-child(even) {
  background: #ffffff;
}

.health-summary td.attribute-name {
  text-align: left;
  font-size: 16px;
  min-width: 161px;
  max-width: 200px;
}

/* set the height of the attribute name cells to be fixed, so we can align them */
td.attribute-name > p {
  height: 22px;
}

/* the cells with the attribute names should be padded more than the cells with the health bars */
td {
  padding: 13px 18px 9px 18px;
  max-width: 134px;
}

td.historical-checkin {
  padding: 13px 10px 9px 10px;
}

.checkin-date-heading {
  cursor: pointer;
  height: 25px; /* for fixing specific heights for alignment */
}

td.current-checkin {
  padding: 13px 18px 9px 10px;
}

tr.health-summary-heading > th.current-checkin {
  height: 56px;
}

table.health-summary > thead > tr.health-summary-heading {
  background: #ffffff;
  height: 61px; /* alignment b/w attributes and checkins */
}

table.health-summary th {
  padding: 0px 7px 5px 7px;
  color: #59afe1;
  font-weight: normal;
}

table.health-summary h3 {
  font-size: 19px;
  color: #59afe1;
  max-width: 118px;
  max-height: 56px; /* alignment b/w attributes and checkins */
  margin-left: auto;
  margin-right: auto;
}

aui-inline-dialog2, .aui-inline-dialog {
  max-width: 350px;
}

/* styles for grouping the checkins into stages (Envision, etc) */
td.historical-checkin.head {
  padding-right: 0px;
}

td.historical-checkin.head > .health-indicator {
  border-radius: 7px 0px 0px 7px;
}

td.historical-checkin.middle {
  padding-left: 0px;
  padding-right: 0px;
}

td.historical-checkin.middle > .health-indicator {
  border-radius: 0px;
}

td.historical-checkin.tail {
  padding-left: 0px;
  padding-right: 10px;
}

td.current-checkin.tail {
  padding-left: 0px;
  padding-right: 18px;
}

td.historical-checkin.tail > .health-indicator, td.current-checkin.tail > .health-indicator {
  border-radius: 0px 7px 7px 0px;
}

/* to make the overview stand out from the other attributes in the checkin view */
td.overview {
  background-color: #ebf2f9;
}

/* scrollbar styling in webkit browsers */
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}
